spring:
  application:
    name: springaidesktop
  datasource:
    url: jdbc:sqlite:${user.home}/.coltranai/coltranic.db
    driver-class-name: org.sqlite.JDBC
  sql:
    init:
      mode: always
ai: 
  chat:
    memory:
      jdbc:
        initialize-schema: never

